:root {
    --background-colour: #070409;
    --element-background-colour: #07040950;
    --primary-text-colour: #ffffff;
    --secondary-text-colour: #000000;
    --selected-text-colour: #000000;
    --secondary-selected-text-colour: #ffffff;
    --primary-accent: #eddbad;
    --secondary-accent: #ffffff;
    --shadow-dark: #00000010;
    --shadow-light: #efe7ff;
    --highlighted: #ffffff;
    --selected: #e2bf7d;
    --border-colour: #fceead;
    --border-selected-colour: #c3924f;
    --secondary-border-colour: #55ccdd;
    --document-background: #ede1ff;
    --document: #ede1ff;
}

/* Elements */
body {
    background-color: var(--background-colour);
    color: var(--primary-text-colour);
    text-shadow: 0px 0px 3px var(--primary-text-colour);
    font-family: "Main Font";
    margin: 0;
}
footer {
    background: var(--element-background-colour);
    font-family: "Button Font";
    color: var(--primary-text-colour);
    padding: 10px 0px;
    position: sticky;
    bottom: 0;
    text-transform: uppercase;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    border-top: 1px solid var(--primary-text-colour);
    box-shadow: 0px 0px 3px var(--primary-text-colour);
    backdrop-filter: blur(20px);
}
header {
    min-width: 100%;
    width: 100%;
    min-height: 20vh;
    display: flex;
    place-items: center;
    align-items: center;
    color: var(--secondary-text-colour);
    background-image: url("images/start-bg.png");
    background-size: cover;
    background-color: var(--element-background-colour);
}
header img {
    width: 30%;
    filter: drop-shadow(0px 0px 3px var(--secondary-accent));
}
table {
    border-collapse: collapse;
}
table a {
    color: var(--primary-text-colour);
    padding: 3px;
    margin: 2px 0;
    border: 1px solid var(--primary-text-colour);
    font-family: "Button Font";
    box-shadow:
        0px 0px 3px var(--primary-text-colour),
        inset 0px 0px 3px var(--primary-text-colour);
}
table th,
td,
tr {
    border: 1px solid var(--border-colour);
    padding: 3px;
    box-shadow:
        0px 0px 3px var(--border-colour),
        inset 0px 0px 3px var(--border-colour);
}

td {
    padding: 5px;
}

/* IDs */
#about-content {
    margin: auto;
    display: flex;
    flex-direction: column;
}
#about-content b {
    font-family: "Button Font";
}
#about-content h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-family: "Button Font";
    text-align: center;
    text-shadow: 0px 0px 3px var(--primary-text-colour);
    margin: 0;
}
#about-content h2 {
    color: var(--primary-text-colour);
    border-bottom: 2px solid var(--border-colour);
    margin: 10px 0;
}
#about-content h3,
#about-content ul {
    margin: 0;
}

#about-content th {
    font-family: "Button Font";
}

#body-section {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#about-content,
#games-content,
#software-content {
    min-width: 40vw;
    max-width: 60vw;
    border: 1px solid var(--border-colour);
    box-shadow:
        0px 0px 3px var(--border-colour),
        inset 0px 0px 3px var(--border-colour);
    padding: 10px;
    margin: auto;
}

#gallery-overlay,
#game-info-overlay {
    background-color: var(--element-background-colour);
    backdrop-filter: blur(5px);
    display: none;
    max-width: 100vw;
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 9;
}

#gallery-overlay {
    border-top: 2px solid var(--border-colour);
    border-bottom: 2px solid var(--border-colour);
    box-shadow: inset 0px 0px 3px var(--border-colour);
}

#gallery-overlay h1 {
    background-color: var(--border-colour);
    color: var(--secondary-text-colour);
    border: 2px solid var(--border-colour);
    border-top: none;
    text-shadow: none;
    box-shadow:
        0px 0px 3px var(--border-colour),
        inset 0px 0px 3px var(--border-colour);
    position: absolute;
    font-family: "Button Font";
    padding: 0 10px;
    margin: 0;
    font-size: 32px;
    top: 0;
    left: 0;
}
#gallery-overlay h2 {
    background-color: var(--border-colour);
    color: var(--secondary-text-colour);
    border: 2px solid var(--border-colour);
    border-top: none;
    text-shadow: none;
    box-shadow:
        0px 0px 3px var(--border-colour),
        inset 0px 0px 3px var(--border-colour);
    position: absolute;
    font-family: "Button Font";
    padding: 0 10px;
    margin: 0;
    font-size: 32px;
    bottom: 0;
    right: 0;
}

#games-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#game-info-overlay {
    min-width: 100vw;
}

#game-info-container {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--element-background-colour);
    backdrop-filter: blur(15px);
    z-index: 90;
    display: none;
    align-items: center;
    justify-content: center;
}

#game-info-container div {
    max-width: 90vw;
    margin: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border-colour);
    box-shadow:
        0px 0px 3px var(--border-colour),
        inset 0px 0px 3px var(--border-colour);
    overflow: hidden;
    animation: load-game-overlay 0.6s;
}

#game-info-container div img {
    width: 90%;
}

#game-info-container h1 {
    width: 100%;
    text-align: center;
    font-family: "Button Font";
    font-size: 48px;
    margin: 0;
    padding: 10px 0;
    background-color: var(--border-colour);
    color: var(--secondary-text-colour);
    text-shadow: none;
    box-shadow:
        0px 0px 3px var(--border-colour),
        inset 0px 0px 3px var(--border-colour);
    border-bottom: 1px solid var(--border-colour);
}

#game-info-container hr {
    color: var(--border-colour);
    box-shadow: 0px 0px 3px var(--border-colour);
    margin-bottom: 5px;
}

#game-info-content {
    margin: auto;
    min-width: 60vw;
    width: 60vw;
    min-height: 95vh;
    max-height: 95vh;
}

#image-preview {
    margin: auto;
    max-height: 90vh;
    max-width: 90vw;
    border: 2px solid var(--secondary-border-colour);
    box-shadow:
        0px 0px 3px var(--secondary-border-colour),
        inset 0px 0px 3px var(--secondary-border-colour);
    padding: 10px;
    animation: load-image 0.3s;
    transition: 0.3s;
}

#software-content h1 {
    color: var(--primary-text-colour);
    text-align: center;
}
#software-content img {
    margin: auto;
    /*width: 500px;*/
    max-width: 100%;
}

#key-list {
    list-style: none;
}

#left-section {
    width: 18vw;
    min-width: 18vw;
    font-family: "Button Font";
    font-size: 24px;
    background-color: var(--background-colour);
    color: var(--primary-text-colour);
    text-shadow: 0px 0px 3px var(--primary-text-colour);
    text-transform: uppercase;
    display: flex;
    gap: 5px;
    flex-direction: column;
    overflow-x: hidden;
    padding: 10px;
}

#left-section a {
    min-width: 100%;
    text-align: center;
    margin: 3px;
    width: 100%;
    color: var(--primary-text-colour);
    border: 1px solid var(--secondary-border-colour);
    text-decoration: none;
    text-shadow: 0px 0px 3px var(--primary-text-colour);
    box-shadow:
        0px 0px 3px var(--secondary-border-colour),
        inset 0px 0px 3px var(--secondary-border-colour);
    transition: 0.3s;
}
#left-section a:hover {
    margin: 1px;
    padding: 2px;
    color: var(--secondary-border-colour);
    text-shadow: 0px 0px 3px var(--secondary-border-colour);
    transition: 0.3s;
}
#left-section a:active {
    background-color: var(--secondary-border-colour);
    color: var(--selected-text-colour);
}
#left-section img {
    width: 100%;
}

#links-section {
    background-color: var(--element-background-colour);
    backdrop-filter: blur(20px);
    position: sticky;
    border-top: 1px solid var(--secondary-accent);
    border-bottom: 1px solid var(--secondary-accent);
    top: 0;
    padding: 3px 0px;
    height: max-content;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 0px 3px var(--secondary-accent);
}
#links-section a {
    min-width: 50px;
    font-family: "Button Font";
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 5px;
    margin: 5px;
    color: var(--primary-text-colour);
    border: 1px solid var(--secondary-accent);
    text-decoration: none;
    transition: 0.3s;
    text-shadow: 0px 0px 3px var(--secondary-accent);
    box-shadow:
        0px 0px 3px var(--secondary-accent),
        inset 0px 0px 3px var(--secondary-accent);
}
#links-section a:hover {
    margin: 1px 5px;
    padding: 4px 5px;
    transition: 0.3s;
}
#links-section a:active {
    background-color: var(--secondary-accent);
    color: var(--secondary-text-colour);
}

#projects-content {
    min-width: 60vw;
    max-width: 60vw;
    padding: 10px;
    margin: 10px auto;
    background-color: var(--element-background-colour);
}
#projects-content h1 {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--border-colour);
}
#projects-content hr {
    color: var(--border-colour);
}
#projects-content table {
    margin: auto;
}
#projects-content table,
#projects-content tr,
#projects-content th {
    border: none;
}
#projects-content th {
    font-size: 20px;
    padding-right: 50px;
    border-bottom: 1px solid var(--border-colour);
}
#projects-tables {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
}
#projects-tables table {
    margin: 10px 0;
}

#right-section {
    overflow-x: hidden;
    border: 1px solid var(--border-colour);
    box-shadow:
        0px 0px 3px var(--border-colour),
        inset 0px 0px 3px var(--border-colour);
    padding: 15px;
}

#right-section a {
    color: var(--primary-accent);
}

#right-section div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0px;
}

#right-section div img {
    max-width: 20%;
    box-shadow: none;
    border: none;
}

#right-section img {
    width: 100%;
    border-top: 3px solid var(--border-colour);
}

#right-section h1 {
    width: 100%;
    text-align: center;
    font-family: "Button Font";
    margin: 10px 0;
    padding: 5px 0;
    color: var(--border-colour);
    text-transform: uppercase;
    text-shadow: 0px 0px 3px var(--border-colour);
}

#text-transcript {
    background-color: #000000;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    height: fit-content;
    margin: 0;
    padding: 5px;
}
#timezone {
    font-family: "Button Font";
    font-size: 32px;
}

/* classes */

.article-image {
    width: 15%;
    max-width: 15%;
}

.color-green {
    color: greenyellow;
}
.color-yellow {
    color: yellow;
}
.color-red {
    color: red;
}
.dev-pre {
    border-left: 4px solid yellow;
    padding-left: 5px;
}
.dev-indev {
    border-left: 4px solid yellowgreen;
    padding-left: 5px;
}
.dev-hold {
    border-left: 4px solid red;
    padding-left: 5px;
}

.gallery-content {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}
.gallery-content::-webkit-scrollbar-thumb {
    background-color: var(--secondary-accent);
}
.gallery-content img {
    margin: 5px;
    padding: 0px;
    min-width: 200px;
    max-width: 200px;
    min-height: 230px;
    max-height: 230px;
    image-resolution: 150px 100px;
    border: 1px solid var(--border-colour);
    border-bottom: 30px solid var(--border-colour);
    box-shadow: 0px 0px 3px var(--border-colour);
    transition: 0.3s;
}
.gallery-content img:hover {
    cursor: pointer;
    margin: 1px;
    padding: 4px;
    min-height: 255px;
    max-height: 255px;
    border: 1px solid var(--secondary-border-colour);
    border-bottom: 5px solid var(--secondary-border-colour);
    box-shadow: 0px 0px 3px var(--secondary-border-colour);
    transition: 0.3s;
}

.gallery-title {
    width: 100%;
    font-family: "Button Font";
    margin: 0;
    color: var(--border-colour);
    border-bottom: 2px solid var(--border-colour);
    text-shadow: 0px 0px 3px var(--border-colour);
}
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    max-width: 200px;
    max-height: 120px;
    min-height: 120px;
    border: 1px solid var(--border-colour);
    margin: 10px;
    padding: 0;
    box-shadow:
        0px 0px 3px var(--border-colour),
        inset 0px 0px 3px var(--border-colour);
    transition: 0.3s;
}
.game-container:hover {
    margin: 6px;
    padding: 4px;
    transition: 0.3s;
    cursor: pointer;
}
.game-container img {
    width: 180px;
    margin: 0;
}
.game-container p {
    background-color: var(--border-colour);
    color: var(--secondary-text-colour);
    text-align: center;
    font-family: "Button Font";
    font-size: 24px;
    margin: 0;
}
.table-header {
    background-color: var(--element-background-colour);
    font-size: 18px;
}
.table-link-a {
    background-color: #00000050;
}
.table-link-b {
    background-color: #10101050;
}
.table-link-c {
    background-color: #15151550;
}
.table-link-d {
    background-color: #40404050;
}
.unavailable {
    display: none;
}

@font-face {
    font-family: "Main Font";
    src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Button Font";
    src: url("fonts/squareddisplay.ttf");
}

@keyframes load-image {
    0% {
        padding: 0;
        max-width: 10vw;
    }
    75% {
        padding: 0px;
        max-width: 90vw;
    }
    100% {
        padding: 10px;
    }
}

@keyframes load-game-overlay {
    0% {
        max-width: 0vw;
    }
    50% {
        max-width: 0vw;
    }
    100% {
        max-width: 90vw;
    }
}

@media (max-width: 1080px) {
    footer {
        position: fixed;
        bottom: 0vh;
        font-size: 16px;
    }
    header img {
        width: 60%;
    }
    .article-image {
        width: 60%;
        max-width: 60%;
        margin: auto;
    }
    #about-content,
    #games-content,
    #software-content {
        margin-bottom: 50px;
        font-size: 28px;
        min-width: 90vw;
        max-width: unset;
        padding: unset;
    }
    #left-section {
        display: none;
    }
    #links-section {
        font-size: 32px;
    }
    #right-section {
        margin-bottom: 50px;
    }
    /*#right-section div {
        flex-direction: column;
    }*/
    #right-section p {
        font-size: 28px;
    }
    .gallery-content img {
        min-width: 400px;
        height: 800px;
        filter: grayscale(60%);
    }
}
