:root {
    --background-colour: #2c2532;
    --element-background-colour: #00000050;
    --primary-text-colour: #ffffff;
    --secondary-text-colour: #000000;
    --selected-text-colour: #000000;
    --secondary-selected-text-colour: #ffffff;
    --header-footer-colour: #ff0000;
    --primary-accent: #eddbad;
    --secondary-accent: #ffffff;
    --shadow-dark: #00000010;
    --shadow-light: #efe7ff;
    --highlighted: #ffffff;
    --selected: #e2bf7d;
    --border-colour: #fceead;
    --border-selected-colour: #c3924f;
    --document-background: #ede1ff;
    --document: #ede1ff;
}

/* Elements */
body {
    background-color: var(--background-colour);
    color: var(--primary-text-colour);
    font-family: "Main Font";
    margin: 0;
}
footer {
    background: var(--element-background-colour);
    color: var(--primary-text-colour);
    padding: 10px 0px;
    text-transform: uppercase;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    backdrop-filter: blur(20px);
}
header {
    min-width: 100%;
    width: 100%;
    min-height: 20vh;
    color: var(--secondary-text-colour);
    background-color: var(--primary-accent);
    background-image: url("images/start-bg.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: right;
}
header img {
    width: 30%;
}

/* IDs */
#about-content {
    margin: auto;
    display: flex;
    flex-direction: column;
}
#about-content h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
#about-content h2 {
    color: var(--primary-text-colour);
    border-bottom: 2px solid var(--border-colour);
    margin: 10px 0;
}
#about-content h3,
#about-content ul {
    margin: 0;
}

#body-section {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#about-content,
#games-content,
#software-content {
    min-width: 40vw;
    max-width: 60vw;
    background-color: var(--element-background-colour);
    padding: 10px;
    margin: auto;
}
#games-content h1,
#software-content h1 {
    color: var(--primary-text-colour);
    text-align: center;
}
#games-content img,
#software-content img {
    margin: auto;
    /*width: 500px;*/
    max-width: 100%;
}

#left-section {
    width: 18vw;
    min-width: 18vw;
    background-color: var(--background-colour);
    color: var(--primary-text-colour);
    text-transform: uppercase;
    display: flex;
    gap: 5px;
    flex-direction: column;
    overflow-x: hidden;
    padding: 10px;
}

#left-section a {
    min-width: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: var(--element-background-colour);
    color: var(--primary-text-colour);
    border-left: 3px solid var(--border-colour);
    text-decoration: none;
}
#left-section a:hover {
    background-color: var(--highlighted);
    color: var(--selected-text-colour);
    border-left: 3px solid var(--border-selected-colour);
}
#left-section a:active {
    background-color: var(--selected);
}
#left-section img {
    width: 100%;
}

#links-section {
    background-color: var(--element-background-colour);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    padding: 3px 0px;
    height: max-content;
    width: 100%;
    z-index: 5;
}
#links-section a {
    min-width: 50px;
    text-transform: uppercase;
    padding: 0px 5px;
    margin: 5px;
    color: var(--primary-text-colour);
    border-left: 2px solid var(--border-colour);
    text-decoration: none;
}
#links-section a:hover {
    background-color: var(--highlighted);
    color: var(--selected-text-colour);
    border-left: 2px solid var(--border-selected-colour);
}

#right-section {
    overflow-x: hidden;
    background-color: var(--element-background-colour);
    padding: 15px;
}

#right-section a{
    color: var(--primary-accent);
}

#right-section div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0px;
}

#right-section div img {
    max-width: 30%;
    box-shadow: none;
    border: none;
}

#right-section img {
    width: 100%;
    border-top: 3px solid var(--border-colour);
}

#right-section h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    color: var(--primary-text-colour);
    text-transform: uppercase;
}

/* classes */

.article-image {
    width: 15%;
    max-width: 15%;
}

.gallery-content {
    width: 100%;
    justify-content: center;
    gap: 5px;
    display: flex;
    /* 	flex-wrap: wrap; */
    overflow-x: auto;
}
.gallery-content::-webkit-scrollbar-thumb {
    background-color: var(--secondary-accent);
}
.gallery-content img {
    min-width: 100px;
    height: 200px;
    filter: grayscale(60%);
}
.gallery-content img:hover {
    filter: grayscale(0%);
}

.gallery-title {
    width: 100%;
    margin: 0;
    color: var(--primary-text-colour);
    border-bottom: 2px solid var(--border-colour);
}

.unavailable {
    display: none;
}

@font-face {
    font-family: "Main Font";
    src: url("fonts/Montserrat-Regular.ttf");
}

@media (max-width: 1080px) {
    footer {
        position: fixed;
        bottom: 0vh;
        font-size: 16px;
    }
    header img {
        width: 60%;
    }
    .article-image {
        width: 60%;
        max-width: 60%;
        margin: auto;
    }
    #about-content,
    #games-content,
    #software-content {
        margin-bottom: 50px;
        font-size: 28px;
        min-width: 90vw;
        max-width: unset;
        padding: unset;
    }
    #left-section {
        display: none;
    }
    #links-section {
        font-size: 32px;
    }
    #right-section {
        margin-bottom: 50px;
    }
    /*#right-section div {
        flex-direction: column;
    }*/
    #right-section p {
        font-size: 28px;
    }
}
